#system
.idea/
__pycache__/
.venv/

#token
.env

#server login information
data_servers/servers.py
database


#payment
payment/yookassa/config_yoo.py


#logs
logs/log.txt*
logs/log.txt

#macos system
.DS_Store